/* ----------------------------
    背景要素に色を順番に付与する。
---------------------------- */
.a-bg-color{
    animation: bg-color-bg_r .5s forwards;
    // transition: all 1s;
    &:hover{
        animation: bg-color-bg .5s forwards;
    }
}
@keyframes bg-color-bg {
    0% { background-color: $site-color03; }
    100% { background-color: $site-color02; }
}
@keyframes bg-color-bg_r {
    0% { background-color: $site-color02; }
    100% { background-color: $site-color03; }
}


.a-text-color{animation: bg-color-text 5s infinite;}
@keyframes bg-color-text {
    0% { color: #a356af; }
    15% { color: #7481cd; }
    30% { color: #d22c91; }
    45% { color: #a356af; }
    60% { color: #7481cd; }
    75% { color: #4ca5e6; }
    85% { color: #7481cd; }
    100% { color: #a356af; }
}

/* ---------------------------------------------------
    背景画像（.c-content.-imgBg .imgBox）をスライドさせる
--------------------------------------------------- */
.a-rotate-bg{animation: rotate-bg 10s infinite;}
@keyframes rotate-bg {
    0% {transform:rotate(0deg);}
    50% {transform:rotate(180deg);}
    100% {transform: rotate(360deg);}
}