// コンテンツ
.c-container{
	width: 100vw;
	height: auto;
}

.c-contents{
	&-inner{
		@include max(768){
			width: 90%;
			margin: auto;
		}
	}

	&.-bg{
		background-image: url(../images/bg/top-bg_s.jpg);
		background-size: cover;
		background-position: top center;
		background-repeat: repeat-y;
		@include min(768){
			background-image: url(../images/bg/top-bg.jpg);
		}
	}

	&.-h-logo{// ヘッダーロゴ
		position: relative;
		.c-contentsBox{
			position: absolute;
			// ヘッダーロゴ
			&.-logo{
				&-item01{//緑色の鳥
					top: 51%;
					left: 101.5%;
					width: 6.5%;
					@include min(768){
						top: 17.5%;
						left: 30.8%;
						width: 2.3%;
					}
				}
				&-item02{//黄色の鳥
					top: 32%;
					left: 110%;
					width: 5%;
					@include min(768){
						top: 10%;
						left: 33%;
						width: 1.5%;
					}
				}
			}
		}
	}

	&.-f-slider,//スライダー
	&.-f-view{  //ファーストビュー
		width: 100%;
		height: auto;
		@include min(768){
			// min-height: 480px;
		}
	}
	&.-f-slider{// スライダー
		position: relative;
		.c-contentsBox{
			position: absolute;
			// ファーストビュー×スライダー関係
			&.-f-title{
				top: 27%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 80%;
				filter: drop-shadow(.5px .5px 0px #ffffff6c);
				@include min(768){// tb
					top: 50%;
					left: 80%;
					width: 33%;
				}
				@include min(1400){
					top: 50%;
					left: 70%;
					width: 30%;
				}
			}
			&.-f-des{
				bottom: 1px;
				left: 90%;
				transform: translateX(-50%);
				white-space: nowrap;
				// width: auto;
				@include min(768){
					left: 60%;
					transform: scale(.8);
				}
				&.-w{
					@include min(768){
						left: 53%;
					}
					@include min(1400){
						left: 72%;
					}
				}
			}
			&.-f-bird{
				&_01{// 青
					top: 20%;
					left: 15%;
					width: 5%;
					@include min(768){// tb
						top: 10%;
						left: 2%;
						width: 4%;
					}
					@include min(1400){// pc
						top: 10%;
						left: 15%;
						width: 3%;
					}
				}
				&_02{// うすい
					top: 20%;
					left: 23%;
					width: 3%;
					@include min(768){// tb
						top: 7%;
						left: 7%;
						width: 3%;
					}
					@include min(1400){// pc
						left: 18%;
						width: 2%;
					}
				}
				&_03{// 黄色
					top: 35%;
					left: 77%;
					width: 5%;
					@include min(768){// tb
						top: 23.5%;
						left: 91%;
						width: 2%;
					}
					@include min(1400){// pc
						top: 13.5%;
						left: 78%;
						width: 1.8%;
					}
				}
				&_04{// 緑
					@include min(768){// tb
						top: 57%;
						left: 65%;
						width: 1.5%;
					}
					@include min(1400){// pc
						top: 60%;
						left: 56%;
						width: 1%;
					}
				}
			}
			&.-f-border{
				top: 36%;
				left: 25%;
				width: 50%;
				@include min(768){// tb
					top: 25%;
					left: 67%;
					width: 24%;
				}
				@include min(1400){// pc
					top: 17%;
					left: 60%;
					width: 18%;
				}
			}
		}
	}
	&.-f-view{//ファーストビュー
		position: relative;
		@include min(768){
			overflow: hidden;
		}
		.imgBox{
			&.-top{
				&::after{
					content:"";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: url(../images/f-view/0505/f-view_s.jpg);
					background-repeat: no-repeat;
					background-size: cover;
					background-position: left bottom;
					z-index: -1;
					@include min(768){
						background-image: url(../images/f-view/0505/f-view.jpg);
					}
				}
			}
			&.-concept{
				&::after{
					content:"";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: url(../images/f-view/concept-view_s_bg.png);
					background-repeat: no-repeat;
					background-size: cover;
					background-position: right bottom;
					z-index: -1;
					@include min(768){
						background-image: url(../images/f-view/concept-view_bg.png);
						background-position: right center;
					}
				}
				
			}
		}
		.c-contentsBox{
			position: absolute;
			&.-f-title{// タイトル
				top: 20%;
				left: 52%;
				transform: translate(-50%, -50%);
				width: 75%;
				@include max(768){
					// タイトル > 中央
					&.-f-title_c{
						&::after{
							position: absolute;
							top: 120%;
							left: 50%;
							transform: translate(-50%,-50%);
							font-size: 14px;
						}
					}
					// タイトル > 右下
					&.-f-title_r{
						top: 82%;
    					left: 83%;
						&::after{
							position: absolute;
							top: 120%;
							left: 70%;
							transform: translate(-50%,-50%);
							font-size: 14px;
						}
					}
					//　タイトル >  コンセプトページ
					&.-concept{&::after{content: "コンセプト";}}
					&.-layout{&::after{content: "レイアウト";}}
					&.-plan{&::after{content: "プラン";}}
					&.-equipment{&::after{content: "設備・仕様";}}
					&.-location{&::after{content: "周辺環境";}}

				}
				@include min(768){// tb
					top: 27%;
					width: 45%;
				}
				@include min(1400){
					top: 27%;
					width: 50%;
				}
			}
			&.-f-subTitle{// サブタイトル
				top: 52%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 60%;
				@include min(768){// tb
					top: 48%;
					width: 20%;
				}
				@include min(1400){
					top: 48%;
					width: 20%;
				}
			}
			&.-f-logo_s{
				@include max(768){
					top: 8%;
					left: 23%;
					transform: translate(-50%, -50%);
					width: 43%;
					z-index: 1;
				}
			}
			&.-f-des{ // 画像下部 注釈
				bottom: 2.5%;
				white-space: nowrap;

				&.-right{ // 右側
					right: 5%;
					left: auto;
					@include min(768){transform: scale(.8);}
					&.-w{
						@include min(768){right: 2%;}
					}
				}
				&.-left{ // 左側
					left: 15%;
					transform: translateX(-50%);
					@include min(768){
						left: 40%;
						transform: scale(.8);
					}
					&.-w{
						@include min(768){left: 0%;}
					}
				}
			}
			&.-f-open{
				top: 15%;
				left: 8%;
				width: 86%;
				filter: drop-shadow(1px 1px 1px $main-color--b);
				@include min(768){
					top: 7%;
					left: 16%;
					width: 40%;
				}
			}
			&.-f-flag{
				// 0418修正用_垂れ幕
				// top: 78%;
				// left: 62%;
				// width: 35%;

				// 0505修正用_雲
				top: 16%;
				left: 2.5%;
				width: 95%;
				filter: drop-shadow(1px 1px 1px $main-color--b);
				@include min(768){
					// 0418修正用_垂れ幕
					// top: -0.5%;
					// left: 68%;
					// width: 15%;

					// 0505修正用_雲
					top: 14.5%;
					left: 51%;
					width: 37%;
				}
				@include min(1400){

				}
			}

			&.-f-text{
				bottom: 0;
				left: 80%;
				transform: scale(.9);
			}
		}
	}


	&.-imgBg{//背景画像
		position: relative;
		.c-contentsBox{
			position: absolute;
			// ヘッダーロゴ
			&.-logo{
				&-item01{//緑色の鳥
					top: 54%;
					left: 95.5%;
					width: 5%;
					@include min(768){
						top: 17.5%;
						left: 30.8%;
						width: 2.3%;
					}
				}
				&-item02{//黄色の鳥
					top: 45%;
					left: 100%;
					width: 5%;
					@include min(768){
						top: 10%;
						left: 33%;
						width: 1.5%;
					}
				}
			}
			// ファーストビュー > ロゴ
			&.-f-logo_s{
				@include max(768){
					top: 8%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 60%;
					z-index: 1;
				}
			}
			&.-text{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 90%;
			}

			// TOPページ > バナー関係
			&.-top-banner_title{
				top: 90%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 90%;
				@include max(768){
					padding: 1% 0 2%;
				}
				@include min(768){
					// top: 45%;
					// left: 73.5%;
					// width: 47%;
					top: 91%;
					left: 74.5%;
					width: 47%;
				}
				@include min(1200){
					// top: 45%;
					// left: 73.5%;
					// width: 47%;

					top: 91%;
					left: 74.5%;
					width: 47%;
				}
			}
			&.-top-banner_text{
				top: 86%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 90%;
				@include min(768){
					top: 69%;
					left: 73.5%;
					width: 48%;
				}
				@include min(1200){
					top: 67%;
					left: 73.5%;
					width: 47%;
				}
			}

			// TOP > カインズコラボ_0527修正
			&.-cainzBtn{
				top: 78.5%;
				left: 70%;
				transform: translate(-50%, -50%);
				width: 40%;
				@include min(768){
					top: 101.5%;
					left: 85%;
					transform: translate(-50%, -50%);
					width: 22%;
				}
			}
			&.-telBox{
				top: 76%;
				left: 77%;
				transform: translate(-50%, -50%);
				width: 47%;
				height: 50%;
				// background: rgba(0, 0, 0, 0.171);
				@include min(768){
					top: 52%;
					left: 75%;
					width: 29%;
					height: 31%;
				}
				a{
					@include max(768){
						display: block;
						width: 100%;
						height: 100%;
					}
					@include min(768){
						display: none;
					}
				}
			}

			// CONCEPTページ >
			&.-concept-area01{
				width: 59%;
				@include min(768){
					width: 35%;
				}
				@include min(1000){
					width: 30%;
				}
				&.-item01{
					top: 0%;
					left: -4%;
					@include min(768){
						top: 0%;
						left: 0%;
					}
				}
				&.-item02{
					top: 12%;
					left: 50%;
					@include min(768){
						top: 27%;
    					left: 37%;
						width: 28%;
					}
				}
				&.-item03{
					top: 39%;
					left: -14%;
					@include max(768){
						width: 69%;
					}
					@include min(768){
						top: 7%;
						left: auto;
						right: 0;
						width: 31%;
					}
				}
				&.-item04{
					top: 57%;
					left: 45%;
					@include max(768){
						width: 65%;
					}
					@include min(768){
						top: auto;
						left: 0;
						bottom: 1%;
						width: 34%;
					}
				}
				&.-item05{
					top: 70%;
					left: -10%;
					@include max(768){
						width: 70%;
					}
					@include min(768){
						top: auto;
						left: auto;
						right: 0;
						bottom: -5%;
					}
					@include min(1200){
						bottom: 0;
					}
				}
			}
			&.-concept-area02{//01.LIFESTYLE
				top: 62.5%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				z-index: -1;
				@include min(1400){top: 55%;}
				@include min(1600){top: 52%;}
				&_item01{
					top: 30%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 88%;
					@include min(768){top: 39%;}
				}
				&_item02{
					top: 30%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 88%;
					@include min(768){
					}
				}
				&_item03{
					top: 29%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 88%;
					@include min(768){
					}
				}
				&_item04{
					top: 31%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 88%;
					@include min(768){
					}
				}
			}
			&.-concept-area03{//02.LIFESTYLE
				top: 62.5%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				z-index: -1;
				@include min(768){top: 62%;}
				@include min(1400){top: 55%;}
				@include min(1600){top: 52%;}
				&_item01{
					top: 30%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 88%;
					@include min(768){top: 25%;}
				}
				&_item02{
					top: 30%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 88%;
					@include min(768){
					}
				}
				&_item03{
					top: 29%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 88%;
					@include min(768){
					}
				}
				&_item04{
					top: 26%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 88%;
					@include min(768){
					}
				}
			}
			&.-concept-area04{//RESERV$E
				&-item01{
					top: 60%;
					left: 56%;
					transform: translate(-50%, -50%);
					width: 80%;
					z-index: -1;
					@include min(768){
						top: 90%;
						left: 50%;
						transform: translate(0%, -50%);
						width: 50%;
						max-width: 550px;
						z-index: 1;

					}
					a{
						display: block;
						border-radius: 20px;
						overflow: hidden;
					}
				}
			}

			// LOCATIONページ 
			&.-cover{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.589);
				border-radius: 20px;
			}
			&.-location-item01{
				top: 28%;
				left: 53%;
				transform: translate(-50%, -50%);
				width: 86%;
				@include max(768){
					z-index: -1;
				}
				@include min(768){
					top: 35%;
					left: 72%;
					width: 42%;
				}
				@include min(1600){
					max-width: 550px;
					top: 60% !important;
					left: 65% !important;
				}

				&.-r{
					top: 28%;
					left: 47%;
					transform: translate(-50%, -50%);
					width: 86%;
					@include max(768){
						z-index: -1;
					}
					@include min(768){
						top: 35%;
						left: 28%;
						width: 42%;
					}
					@include min(1600){
						max-width: 550px;
						top: 60% !important;
						left: 34.5% !important;
					}
				}
				&.-test{
					top: 65%;
					@include min(1600){

					}
				}
			}
			&.-location-item02{
				top: 14.5%;
				left: 53%;
				transform: translate(-50%, -50%);
				width: 86%;
				@include max(768){
					z-index: -1;
				}
				@include min(768){
					top: 25%;
					left: 74%;
					width: 45%;
				}
				@include min(1600){
					max-width: 560px;
					top: 26%;
    				left: 67%;
				}

				&.-r{
					top: 28%;
					left: 47%;
					transform: translate(-50%, -50%);
					width: 86%;
					@include max(768){
						z-index: -1;
					}
					@include min(768){
						top: 35%;
						left: 28%;
						width: 42%;
					}
				}
			}
			&.-location-listsArea01{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				@include min(768){
					top: 50%;
				}
				&.-ver02{
					top: 28.2%;
					@include min(768){
						top: 37%;
					}
				}
			}
			&.-location-listsArea02{
				top: 79%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				@include min(768){
					top: 75%;
				}
			}
			&.-location-listsArea03{
				top: 67%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				@include min(768){
					top: 76%;
				}
				@include min(1400){
					top: 74% !important;
				}
				@include min(1500){
					top: 71% !important;
				}
			}

			// 住協の家づくり
			&.-quality-self{
				@include min(768){
					top: 20%;
					left: 9%;
					width: 50%;
				}
			}
			&.-quality-hon{
				@include min(768){
					top: 50%;
					left: 61%;
					width: 20%;
				}
				&_text{
					@include min(768){
						top: 87%;
						left: 61%;
						transform: translate(-50%, -50%);
						width: 16%;
					}
				}
			}

			// 画像 > 〇
			&.-circle{
				top: 75%;
				transform: translate(-50%, -50%);
				width: 22%;
				@include min(768){
					width:20%;
				}
				&.-left{left: 15%;}
				&.-right{right: -5%;}
			}
		}
	}
}